services:
 app:
  build:
    context: ./campo_vertentes
    dockerfile: Dockerfile
  ports:
    - "8765:8765"
  environment:
    API_BASE_URL: "http://localhost:${PORT:-3000}/api/v1"
    SHAPEFILE_PATH: "${SHAPEFILE_PATH:-data/shapefiles/campo_vertentes.shp}"
    COFFEE_SHAPEFILE_PATH: "${COFFEE_SHAPEFILE_PATH:-data/shapefiles/ig_cafe.shp}"
    WFS_URL: "${WFS_URL:-http://localhost:8080/geoserver/wfs}"
    WFS_VERSION: "${WFS_VERSION:-1.1.0}"
    WMTS_URL: "${WMTS_URL:-http://localhost:8080/geoserver/gwc/service/wmts/rest}"
  depends_on:
    - api
    - geoserver

  api:
    build:
      context: ./backend
      dockerfile: docker/Dockerfile.prod
    ports:
      - "8000:8000"
    environment:
      ENV: production
      PORT: 8000
      DB_URL: mongodb://root:${DB_PASSWORD}@mongo:27017/
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRATION: ${JWT_EXPIRATION}
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mongo-data:/data/db
  
  geoserver:
    image: docker.osgeo.org/geoserver:2.28.0
    ports:
      - "8080:8080"
    environment:
      INSTALL_EXTENSIONS: true
      STABLE_EXTENSIONS: "vectortiles"
      GEOSERVER_ADMIN_USER: ${GEOSERVER_ADMIN_USER}
      GEOSERVER_ADMIN_PASSWORD: ${GEOSERVER_ADMIN_PASSWORD}
    volumes:
      - data_dir:/opt/geoserver_data

volumes:
  mongo-data:
  data_dir: